.bg-modal-dark{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	z-index: 9999;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.bg-modal-dark2{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	z-index: 9999;
	top: 0;
	justify-content: center;
	align-items: center;
	display: block;
}

.modal-content-box{
	width: 50%;
	height: 50%;
	background-color: white;
	opacity: 0.7;
	position:relative;
	border-radius: 15px;

}

.modal-Dcard{
	width: 600px;
	height: 700px;
	background-color: #00ffff;
	opacity: 1;
	position:absolute;
	border-radius: 15px;
}

#delete_confirm{
	position:absolute;
	bottom: 10px;
	right: 10px;
	margin: auto;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.center_text {
  text-align: center;
  border: 3px solid green;
}


#tabs_diag {
  width: 100%;
}

#container div {
  float: left;
  height: 300px;
  width: 25%;
}

#diag_header{
	width: 100%;
	display: block;
}
.bg-modal-dark2 .modal-Dcard #diag_header{
	width: 100%;
	display: block;
	height: 5%;
	text-align: center;
	align: top;
	position: absolute;
}

.bg-modal-dark2 .modal-Dcard #diag_header h1{
	align: center;
}

.bg-modal-dark2 .modal-Dcard .content{
	margin-top: 8% ;
	position: absolute;
	align: left;
	height: 75%;
	width: 100%;
	
}

.bg-modal-dark2 .modal-Dcard .content .tabcontainer{
	width: 100%;
	position: relative;
	height: 40px;
}

.bg-modal-dark2 .modal-Dcard .content .tabcontainer button{
	width: 25%;
	height: 100%;
	float: left;
	background-color: gray;
}

.bg-modal-dark2 .modal-Dcard .content .tabcontainer button:hover{
	background-color: white;
}
.bg-modal-dark2 .modal-Dcard .content .tabcontainer button:active{
	background-color: red;
}


.bg-modal-dark2 .modal-Dcard .content .tabcontent{
	padding: 2%;
	margin-top: 5px;
	border-style: dotted;
	border-width: 2px;
	border-color: black;
	height: 100%;
}
div.field{
	display: in-line;
	margin: 2px;
	margin-left: 10px;
	border: none;
	align-text: left;
}
.labels{
	width: 30%;
}

.bg-modal-dark2 .modal-Dcard .content .tabcontent .tab2Content{

	display: none;
	display: hidden
}

.bg-modal-dark2 .modal-Dcard .content .tabcontent .tab3Content{

	display: none;
}

.bg-modal-dark2 .modal-Dcard .content .tabcontent .tab4Content{

	display: none;
}

div.option_buttons{
	float: bottom;
	float: right;
	margin-right: 20px;
	position: absolute;
	margin-bottom: 20px;
}
.diagnosissubmit{
	background-color: blue;
}
input {
   padding-top: 0;
   padding-left: 0;
   line-height: 1em; // this probably doesn't matter
}